

.box{
    align-items: center;
    background-color: rgba(122, 122, 122, 0.28);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    max-height: 250px;
    height: 40%;
    margin: 10px 100px;
  }

  
  #options{
    column-gap: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 24px;
      margin: 55px;
      padding-bottom: 25px;
  }
  
  .option{
    align-items: center;
    border-radius: 10px;
    background-color: rgba(122, 122, 122, 0.28);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 190px;
    user-select: none;
    text-decoration: none;
    transition: transform 0.2s;
  }
  .option:hover{
    transform: scale(1.03);
  }
  .option:active{
    background-color: rgba(122, 122, 122, 0.26);
  }

  #dbhangout{
    width: 145px;
  }

  #dbcomplaint{
    width: 115px;
  }

  #dbservice{
    width: 115px;
  }

  .option p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  .text{
    cursor: default;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    margin-left: 50px;
    text-align: center;
  }
  
  .p1{
    color: white;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  
  .p2{
    color: #00FFC2;
    font-size: 1.1em;
    line-height: 25px;
    margin: auto;
    width: 275px;
  }
  
    
  @media screen and (max-width: 900px) {
    .box{
       margin: 10px 5%;
       width: 90%;
    }

    .text{
      margin-left: 5%;
    }
  
    .p1{
      font-size: 1.2rem;
    }

    .p2{
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 500px){
    .box{
      margin: 10px 2%;
      width: 96%;
   }

   .text{
     margin-left: 4%;
     width: 96%;
   }
 
   .p1{
     font-size: 1.1em;
   }

   .p2{
     font-size: 0.7em;
     width: 65%;
   }

  }